h2, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

.bodyp {
    background: #e9e9ec
}

*, *:after, *:before {
    box-sizing: border-box;
}

h2, h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #333333;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
}

p, li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 22px;
}

ul, li {
    text-decoration: none;
    list-style: disc outside;
}

ul {
    padding-left: 20px;
}

.cardpadre {
    width: 90%;
    margin: 0 auto;

}

.cardContainer {
    position: relative;
    width: 90%;
    height: 400px;
    min-width: 300px;
    min-height: 400px;
    margin: 4px;
    perspective: 1000px;
   

}

.active {
    transform: translateZ(0px) rotateY(180deg) !important;
}

    .active:after {
        display: none;
    }

.card2 {
    display: inline-block;
    width: 90%;
    height: 100%;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translateY(0px);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}

    .card2:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 82%;
        border-radius: 5px;
        box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
        opacity: 0;
        background:orange
        
        
    }

    .card2:hover {
        transform: translateY(-6px);
    }

        .card2:hover:after {
            opacity: 1;
        }

    .card2 .side {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 82%;
        border-radius: 5px;
        background-color: white;
    }



    .card2 .info h2 {
        font-size: 19px;
       

    }

    .card2 .back {
        transform: rotateY(180deg);
    }

    .card2 .info {
        padding: 17px 7px;
    }

.front .img {
    background-color: #dadce2;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
}



.back {
    position: relative;
}

    .back h2 {
        margin-top: 6px;
        margin-bottom: 18px;
    }

    .back .reviews {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        cursor: pointer;
    }

        .back .reviews p {
            color: #c4c4c4;
            font-weight: 300;
            margin: 1px 0 0 6px;
            transition: 0.3s ease-in-out;
        }

        .back .reviews:hover p {
            color: #555;
        }

    .back li {
        line-height: 22px;
        margin: 2px 0 6px 0;
    }

    .back .btn {
        position: absolute;
        bottom: 16px;
        width: calc(100% - 32px);
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFC324;
        background-image: linear-gradient(-90deg, #FFB714, #FFE579);
        border-radius: 5px;
        cursor: pointer;
    }

        .back .btn:hover h4 {
            transform: translateX(0px);
        }

        .back .btn:hover svg {
            transform: translateX(0px);
            opacity: 1;
        }

        .back .btn h4 {
            transform: translateX(12px);
            transition: transform 0.3s ease-out;
        }

        


.price {
    color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 6px 0 0 6px;
}


/*########################################################3*/

/* carousel.css */ /*
.carrusel-container ul > li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 150px;
    padding: 20px;
    height: 200px;
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    transition: 1s opacity;
}
    

.carrusel-container .active {
    opacity: 1;
}

p {
    font-family: sans-serif;
    font-size: 13px;
    color: #646566;
    line-height: 1.5em;
}

strong {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    line-height: 100px;
}
*/

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-300px * 7));
        transform: translateX(calc(-300px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-300px * 7));
        transform: translateX(calc(-300px * 7));
    }
}

.slider {
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 300px; /* Ajusta la altura del slider */
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin-top: 90px
}

    .slider::before, .slider::after {
        /*background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);*/
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .slider::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    .slider::before {
        left: 0;
        top: 0;
    }

    .slider .slide-track {
        -webkit-animation: scroll 40s linear infinite;
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(300px * 14);
    }

.slide {
    width: 300px; /* Ancho de cada diapositiva */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Ajusta el comportamiento de ajuste de imagen */
    }



/* Estilo para el texto "Agotado" */
.agotado {
    color: red;
}

/* Estilo para el texto "Disponible" */
.disponible {
    color: green;
}

.stock-state {
    font-size: 14px;
    
    position: absolute; /* Colocar el elemento en posición absoluta */
     /* Alinear verticalmente en el centro */
    left: 40%; /* Alinear a la izquierda (ajustar según sea necesario) */
    
}

.card3.disponible:after {
    /* Styles for available products */
     /* Green border for available products */
    box-shadow: 0 0 60px rgba(0, 128, 0, 0.5); /* Green shadow for available products */
}

.card3.agotado:after {
    /* Styles for sold out products */
    /* Red border for sold out products */
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.5); /* Red shadow for sold out products */
}


.card3 {
    display: inline-block;
    width: 90%;
    height: 100%;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translateY(0px);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .card3:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 82%;
        border-radius: 5px;
        /* box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);*/
        opacity: 0;
        background: orange
    }

    .card3:hover {
        transform: translateY(-6px);
    }

        .card3:hover:after {
            opacity: 1;
        }

    .card3 .side {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 82%;
        border-radius: 5px;
        background-color: white;
    }



    .card3 .info h2 {
        font-size: 19px;
    }

    .card3 .back {
        transform: rotateY(180deg);
    }

    .card3 .info {
        padding: 17px 7px;
    }
/*
.back-icon{
    color:black
}*/