
/* Importing fonts from Google */


/* Reseting */
* {
    margin: 0;
    padding: 0;
}


.fondo {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
    background-image: src('../img/logo_tiendita.png')
}

    .logo img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
    }

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spcing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

    .wrapper .form-field .fas {
        color: #555;
    }

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

    .wrapper .btn:hover {
        background-color: #039BE5;
    }

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

    .wrapper a:hover {
        color: #039BE5;
    }

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}





.body2 {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat;*/
  /*  background-color: #ECECEC*/
    background-color: #fff
}

.box {
    position: relative;
    width: 350px;
    height: 420px;
    /*background: grey;*/
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.box2 {
    position: relative;
    width: 350px;
    height: 425px;
    /*background: grey;*/
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;
    margin:2px;
    /* Centrado vertical */
}

    .box::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent, transparent,#fff, #fff );
        z-index: 1;
        transform-origin: bottom right;
        animation: anime 6s linear infinite;
    }

    .box::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent, transparent, #fff, #fff );
        z-index: 1;
        transform-origin: bottom right;
        animation: anime 6s linear infinite;
        animation-delay: -3s;
    }

.borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}

    .borderLine::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent, transparent, #fff, #fff);
        z-index: 1;
        transform-origin: bottom right;
        animation: anime 6s linear infinite;
        animation-delay: -1.5s;
    }

    .borderLine::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent, transparent, #fff, #fff );
        z-index: 1;
        transform-origin: bottom right;
        animation: anime 6<s linear infinite;
        animation-delay: -4.5s;
    }

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box form {
    position: absolute;
    inset: 4px;
    background: #2b2c49;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box2 form {
    position: absolute;
    inset: 4px;
    background: #2b2c49;
    padding: 10px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

    .box form h2 {
        color: #fff;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
        color: white;
        font-size: 1.5em;
    }

    .box2 form h2 {
        color: #fff;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
        color: white;
        font-size: 1.5em;
        padding-top:8px;
    }

    .box form .inputBox {
        position: relative;
        width: 250px;
        margin-top: 35px;
    }

        .box form .inputBox input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            color: black;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
        }

        .box form .inputBox span {
            position: absolute;
            left: 0;
            padding: 20px 0px 10px;
            pointer-events: none;
            color: #8f8f8f;
            font-size: 1em;
            letter-spacing: 0.5em;
            transition: 0.5s;
        }


        .box form .inputBox input:valid ~ span,
        .box form .inputBox input:focus ~ span {
            color: #fff;
            font-size: 0.75em;
            transform: translateY(-34px);
        }

        .box form .inputBox i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            border-radius: 4px;
            overflow: hidden;
            transition: 0.5s;
            pointer-events: none;
        }

        .box form .inputBox input:valid ~ i,
        .box form .inputBox input:focus ~ i {
            height: 44px;
        }

    .box form .links {
        display: flex;
        justify-content: space-between;
    }

        .box form .links a {
            margin: 10px 0;
            font-size: 0.75em;
            color: #8f8f8f;
            text-decoration: none;
        }

            .box form .links a:hover,
            .box form .links a:nth-child(2) {
                color: #fff;
            }

    .box form input[type="submit"] {
        border: none;
        outline: none;
        padding: 9px 25px;
        background: #fff;
        cursor: pointer;
        font-size: 0.9em;
        border-radius: 4px;
        font-weight: 600;
        width: 100px;
        margin-top: 20px;
        margin-left:90px
    }

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px; /* Agregamos bordes redondeados para dar un aspecto más suave */
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.7);/* Aquí definimos la sombra */
}


.login-image {
    width: 270px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 410px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin:4px; /* Ajusta el margen derecho según tus necesidades */
}

.login-imageR {
    width: 270px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 420px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin: 4px; /* Ajusta el margen derecho según tus necesidades */
}

.tituloRegistrar {
   float:left;
   padding-bottom:5px;
    
 
    color: #8f8f8f;
    
    letter-spacing: 0.1em;
   
}

/* En tu archivo de estilos CSS */
/* En tu archivo de estilos CSS */
.password-toggle {
    
    
    
   
    cursor: pointer;
    color: #666;
    z-index: 10;
    display: inline-block;
   
}
.password-toggle:hover {
    color: #333; /* Cambia el color cuando el mouse está sobre el ícono */
}

.ojo {
    position: absolute;
    left: 265px;
    transform: translateY(765%);
    z-index:10;
    
}