


.body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0px;
}

.letra12{
    float:left;
   margin-top:20px
}

.letra{
    float:right;
}
.letra2 {
    float: right;
    width:10%;
    
}




* {
    margin: 0px;
}



.nav-link {
    height: 50px;
}

.container1 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 85%;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 5%;
    padding: 3%;
}

.container2 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 60%;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
}

.container3 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 70%;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
}

.container_menu {
    width: 18%;
    height: 100vh;
    background-color: #2B2C49;
    float: left;
    position:fixed
    
   
}





.col1 {
    border-bottom-color: currentColor;
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px
}




.espacio {
    margin-right: 10%
}




.contenidointerior1 {
    width: 50%;
    height: 60%;
    margin-left: 25%;
    background-color: #f7f7f9;
    margin-top: 5%;
    border-radius: 5px;
    padding: 20px;
}

.contenidointeriorproducto {
    width: 50%;
    height: 65%;
    margin-left: 25%;
    background-color: #f7f7f9;
    margin-top: 5%;
    border-radius: 5px;
    padding: 20px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}






.container_menu nav {
    transform: translateY(15%);
}

    .container_menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        color: #fff;
    }

.content {
    margin-left: 270px;
    margin-right: 20px
}

body {
}

.botun a {
    text-decoration: none;
    color: white
}

.botunp {
    width: auto;
    height: 37px;
    background: #02c0ce;
    border-radius: 1vh;
    border: 0.1px solid white;
    box-shadow: 1px 1px 4px gray
}

    .botunp a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .botunp:hover {
        background: #0f9ba5;
        box-shadow: 4px 3px 4px gray
    }

.fuentetitulo {
    font-family: 'Book Antiqua';
    color: gray;
}

/############################################# Botón agregar/

.agcliente {
    float: right;
    margin-top: 15px;
    margin-left: 25%;
    width: 100%;
}

.button {
    float: right;
}

.Titulo {
    width: 100%;
    height: 7%;
}

    .Titulo h2 {
        margin-left: 30%;
    }

body {
}

.botun a {
    text-decoration: none;
    color: white
}

.botunp {
    width: auto;
    height: 37px;
    background: #2b2c49;
    border-radius: 1vh;
    border: 0.1px solid white;
    box-shadow: 4px 3px 4px gray
}

    .botunp a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .botunp:hover {
        background: #0f9ba5;
        position: relative;
        left: 3px;
        top: 3px;
        box-shadow: 1px 1px 4px gray;
    }

.fuentetitulo {
    font-family: 'Book Antiqua';
    color: gray;
}

/############################################# Botón agregar/

.agcliente {
    float: right;
    margin-top: 15px;
}



/Buscar/

.con1buscar {
    padding: 5px;
    float: right;
}

.con2buscar {
    width: 200px;
    padding: 3px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2vh;
    border: 0.1px solid;
    background: #2b2c49;
    color: white
}

.button {
    position: relative;
    bottom: 1px;
    right: 50px
}

###############Neon###############

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: #2b2c49;
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #55578d;
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.75s;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 8px;
    
    color: black;
    float: right;
    letter-spacing: 4px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    margin-right: 35px;
    margin-bottom:10px;
    width: 10%;
    border-radius:5PX
}

.partedeltitulo {
    margin-left: 5%;
    height: 53px;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    
}

.card .partedeltitulo h2 {
    color: #fff;
    font-weight: 500;

    color: grey;
    font-size: 1.5em;
    padding-top: 8px;
}

.pequeno1 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: grey;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    border-radius: 0.25rem;
    margin:5px;
    padding:0px
}

.form-control1 {
   
    margin-bottom:10px;
    
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    height:30px;
    font-weight: 400;
    float: left;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-neon a {
    text-decoration: none;
    color: #fff;
    padding:2px;
}

    .btn-neon:hover {
        background: #2b2c49;
        /*box-shadow: 0 0 10px #55578d, 0 0 40px #55578d, 0 0 80px #55578d;*/
        transition-delay: 1s;
        /*color: red*/
    }

    .btn-neon a :hover {
        color: red
    }

    .btn-neon span {
        position: absolute;
        display: block;
    }
/*
    20/07/2023*/



.nav-link {
    padding: 20%;
}

.container1 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 85%;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 5%;
    padding: 3%;
}

.container2 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 60%;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
}

.container3 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 70%;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
}






.corto {
    width: 214px;
}

.col1 {
    border-bottom-color: currentColor;
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px
}




.contenido1 {
    width: 82%;
    height: 100%;
    float: right
}

.margin0 {
    width: 82%;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    height: 660px;
}

.card-header {
    height: 59px;
    padding-top: 0px;
}

.card-header1 {
    /* padding: 0.5rem 1rem; */
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header1 {
    height: 59px;
    padding-top: 0px;
}

.bajar {
    margin-left: 2%;
    margin-bottom: 2%;
}

.espacio {
    margin-right: 10%
}






.contenidointerior {
    max-width: 50%; /* Ajusta este valor según tus necesidades */
    min-height: 40%;
    margin: 6% auto;
    /* Aplica "auto" para centrar horizontalmente */
    background-color: #f7f7f9;
    border-radius: 5px;
    padding: 20px;
}

.contenidointerior2 {
    width: 50%;
    min-height: 40%;
    margin-left: 25%;
    background-color: #f7f7f9;
    margin-top: 5%;
    border-radius: 5px;
    padding: 20px;
}

.nav1 {
    display: block;
    text-decoration: none;
    padding:;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    color: #fff;
}


.Contenedor12 {
    width: 80%;
    min-height: 50%;
    margin-left: 10%;
    background-color: rgba(0,0,0,.03);
    border-radius: 5px;
    padding: 20px;
}

.Contenedor13 {
    width: 80%;
    min-height: 100%;
    margin-left: 10%;
    background-color: rgba(0,0,0,.03);
    border-radius: 5px;
    padding: 20px;
}

.contenidointeriorproducto {
    width: 50%;
    min-height: 40%;
    margin-left: 25%;
    background-color: #f7f7f9;
    margin-top: 5%;
    border-radius: 5px;
    padding: 20px;
}

.contenidointeriorusuario {
    width: 30%;
    min-height: 40%;
    margin:auto;
    background-color: #f7f7f9;
    margin-top: 5%;
    border-radius: 5px;
    padding: 20px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Mitad1 {
    float: left;
    width: 40%;
    height: 100%;
}

.Mitad2 {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 10%;
}






.container_menu nav {
    transform: translateY(15%);
}

    .container_menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        color: #fff;
    }

.content {
    margin-left: 270px;
    margin-right: 20px
}

body {
}

.botun a {
    text-decoration: none;
    color: white
}

.botunp {
    width: auto;
    height: 37px;
    background: #02c0ce;
    border-radius: 1vh;
    border: 0.1px solid white;
    box-shadow: 1px 1px 4px gray
}

    .botunp a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .botunp:hover {
        background: #0f9ba5;
        box-shadow: 4px 3px 4px gray
    }

.fuentetitulo {
    font-family: 'Book Antiqua';
    color: gray;
}

.titulocampo{
    margin:0px
}
/############################################# Botón agregar/

.agcliente {
    float: right;
    margin-top: 15px;
    margin-left: 25%;
    width: 100%;
}
.form-row{
    margin-bottom:10px
}
.form-control{
    height:30px
}

.button {
    float: right;
}

.letra {
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    margin-top: 1%;
    float: left;
}

.derecha {
    width: 10%
}

.letra1 {
    font-family: 'Times New Roman', Times, serif;
}


.Titulo {
    width: 100%;
    height: 7%;
}

    .Titulo h2 {
        margin-left: 20%;
    }

.Titulo1 {
    width: 100%;
    height: 7%;
}

    .Titulo1 h2 {
        margin-left: 35.5%;
    }

body {
}

.botun a {
    text-decoration: none;
    color: white
}

.botunp {
    width: auto;
    height: 37px;
    background: #2b2c49;
    border-radius: 1vh;
    border: 0.1px solid white;
    box-shadow: 4px 3px 4px gray
}

    .botunp a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .botunp:hover {
        background: #0f9ba5;
        position: relative;
        left: 3px;
        top: 3px;
        box-shadow: 1px 1px 4px gray;
    }

.fuentetitulo {
    font-family: 'Book Antiqua';
    color: gray;
}

/############################################# Botón agregar/

.agcliente {
    float: right;
    margin-top: 15px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    float: left;
    width: 100%;
    height: 60px;
    margin: 0px;
}

.nav-link {
  color: black;
  transition: color 0.3s, margin-left 0.3s;
}

.nav-link:hover {
  color: grey;
  margin-left:5px;
}


/Buscar/

.con1buscar {
    padding: 5px;
    float: right;
}

.con2buscar {
    width: 200px;
    padding: 3px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2vh;
    border: 0.1px solid;
    background: #2b2c49;
    color: white
}

.button {
    position: relative;
    bottom: 1px;
    right: 50px
}

###############Neon###############

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: #2b2c49;
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #55578d;
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.75s;
}


    .btn-neon:hover {
        background: #2b2c49;
        /*box-shadow: 0 0 10px #55578d, 0 0 40px #55578d, 0 0 80px #55578d;*/
        transition-delay: 1s;
        /*color: red*/
    }

    .btn-neon a :hover {
        color: red
    }

    .btn-neon span {
        position: absolute;
        display: block;
    }

.btn-neon:hover a {
    transition-delay: 1s;
    color: white
}




.btn-neon1 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    float: left;
    letter-spacing: 4px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    margin-right: 7px;
    width: 15%;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon1:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: #2b2c49;
}

.btn-neon1:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon1:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #55578d;
}

.btn-neon1:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon a {
    text-decoration: none;
    color: #fff;
}

.btn-neon1 a {
    text-decoration: none;
    color: black;
}

.btn-neon1:hover {
    background: #2b2c49;
    box-shadow: 0 0 10px #55578d, 0 0 40px #55578d, 0 0 80px #55578d;
    transition-delay: 1s;
    color: red
}

.btn-neon1 a :hover {
    color: red
}

.btn-neon1 span {
    position: absolute;
    display: block;
}

.tiendita {
    font-family: algerian;
    color: gainsboro;
    font-size: 20px;

    
    
    
}

.titulologo img {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 20px
}

* {
    margin: 0px;
}



.nav-link {
    height: 50px;
    
}

.container1 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 85%;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 5%;
    padding: 3%;
}

.container2 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 60%;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
}

.container3 {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
    min-height: 50%;
    width: 70%;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
}





.corto {
    width: 214px;
}

.col1 {
    border-bottom-color: currentColor;
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px
}



.espacio {
    margin-right: 10%
}






.contenidointeriorproducto {
    width: 50%;
    height: 65%;
    margin-left: 25%;
    background-color: #f7f7f9;
    margin-top: 5%;
    border-radius: 5px;
    padding: 20px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Mitad1 {
    float: left;
    width: 40%;
    height: 100%;
    margin-left:25px
}

.Mitad2 {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 10%;
}





.container_menu nav {
    transform: translateY(15%);
}

    .container_menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        color: #fff;
    }

.content {
    margin-left: 270px;
    margin-right: 20px
}

body {
}

.botun a {
    text-decoration: none;
    color: white
}

.botunp {
    width: auto;
    height: 37px;
    background: #02c0ce;
    border-radius: 1vh;
    border: 0.1px solid white;
    box-shadow: 1px 1px 4px gray
}

    .botunp a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .botunp:hover {
        background: #0f9ba5;
        box-shadow: 4px 3px 4px gray
    }

.fuentetitulo {
    font-family: 'Book Antiqua';
    color: gray;
}

/############################################# Botón agregar/

.agcliente {
    float: right;
    margin-top: 15px;
    margin-left: 25%;
    width: 100%;
}

.button {
    float: right;
}

.Titulo {
    width: 100%;
    height: 7%;
}

    .Titulo h2 {
        margin-left: 30%;
    }

body {
}

.botun a {
    text-decoration: none;
    color: white
}

.botunp {
    width: auto;
    height: 37px;
    background: #2b2c49;
    border-radius: 1vh;
    border: 0.1px solid white;
    box-shadow: 4px 3px 4px gray
}

    .botunp a {
        text-decoration: none;
        color: white;
        padding: 5px;
    }

    .botunp:hover {
        background: #0f9ba5;
        position: relative;
        left: 3px;
        top: 3px;
        box-shadow: 1px 1px 4px gray;
    }

.fuentetitulo {
    font-family: 'Book Antiqua';
    color: gray;
}

/############################################# Botón agregar/

.agcliente {
    float: right;
    margin-top: 15px;
}



/Buscar/

.con1buscar {
    padding: 5px;
    float: right;
}

.con2buscar {
    width: 200px;
    padding: 3px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2vh;
    border: 0.1px solid;
    background: #2b2c49;
    color: white
}

.button {
    position: relative;
    bottom: 1px;
    right: 50px
}

###############Neon###############

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: #2b2c49;
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: #2b2c49;
}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #55578d;
}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.75s;
}




    .btn-neon a {
        text-decoration: none;
        color: #fff;
    }

    .btn-neon:hover {
        background: #2b2c49;
        /*box-shadow: 0 0 10px #55578d, 0 0 40px #55578d, 0 0 80px #55578d;*/
        transition-delay: 1s;
        /*color: red*/
    }

    .btn-neon a :hover {
        color: red
    }

    .btn-neon span {
        position: absolute;
        display: block;
    }
/*
    20/07/2023*/




    .error-message {
        color: red;

    }
/* Clase para cuando el cliente existe */
.cliente-existe {
    border: 0.5px solid red;
    background-color: #ffe6e6;
    border-radius: 1px /* Color de fondo rojo claro */
}

/* Clase para cuando el cliente no existe */
.cliente-no-existe {
    border: 0.5px solid green;
    border-radius: 1px
}

/* Estilo para el icono (bote con la tapa abierta) */
.icon-open {
    display: none; /* Inicialmente oculto */
}

/* Estilo para el icono cuando el cursor está sobre él (:hover) */
.icon:hover {
    background-color: transparent;
    display: none; /* Ocultar el icono del bote cerrado */
}

    /* Estilo para el icono (bote con la tapa abierta) cuando el cursor está sobre el botón (:hover) */
    .icon:hover + .icon-open {
        display: inline; /* Mostrar el icono del bote abierto al pasar el cursor sobre el botón */
    }

/* Agrega estilos para el contenedor del ícono */
.iconedit {
    color:cornflowerblue;
    display: inline-block; /* Asegúrate de que el contenedor solo ocupe el espacio del ícono */
    transition: transform 0.2s ease-in-out; /* Agrega una transición suave */
}

    /* Agrega la animación cuando el cursor esté encima del ícono */
    .iconedit:hover {
        animation: shake 0.5s ease-in-out 2; /* Utiliza la animación "shake" dos veces durante 0.5 segundos */
    }

/* Define la animación "shake" */
@keyframes shake {
    0%, 100% {
        transform: translateX(0); /* Sin movimiento al inicio y al final de la animación */
    }

    25% {
        transform: translateX(-5px); /* Movimiento hacia la izquierda al 25% de la animación */
    }

    75% {
        transform: translateX(5px); /* Movimiento hacia la derecha al 75% de la animación */
    }
}


/*Diseño de la tabla*/
.table1 {
    margin-left: 35px;
    width: 93%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

        /* Estilos para el encabezado de la tabla */
        .table1 thead tr th {
            background-color: #f2f2f2;
            border-bottom: 2px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        /* Estilos para las filas de la tabla */
        .table1 tbody tr {
            border-bottom: 1px solid #ccc;
        }

        /* Estilos para las celdas de la tabla */
        .table1 td {
            padding: 10px;
            text-align: left;
        }

      

        

        /* Estilos para el ícono de cerrar */
        .table1 .icon.cerrar {
            display: none;
            color: #e74c3c;
        }

        /* Estilos para el botón de operaciones en estado activo */
        .table1 .btn:hover .icon.cerrar {
            display: inline-block;
        }


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:37px
}

.buscardor {
    
    width: 24%;
    height: 30px;
    float: left;
    margin-left: 30px;
}

/*codigo de usuario que inicio sesion*/

/* Estilos generales */
.user {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width:82%;
    margin: 0 auto;
    float:right;
    

}
.card-header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:45px;
    
}


.Titulo12 {
    width: 100%;
    background-color: #2B2C49;
    border-radius:8px
}

.letra12 {
    margin-left: 10px;
    font-size: 18px;
    float: left;
    text-transform: none;
}



.fa-sign-out-alt {
    margin-right: 5px;
}

/*FOOTER*/



footer {
    position: fixed;
    bottom: 0;
    right: 0; /* Cambiado de "left" a "right" para colocar el footer en el lado derecho */
    width: 82%;
    height:5%;/* Cambiado para dejar espacio en el lado derecho */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #888;
    float: right; /* Añadido el punto y coma al final */
}










.modal-content {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width:82%;
    float:right
}


    .modal-content h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

.form-row {
    margin-bottom: 15px;
}

    .titulocampo {
        margin-bottom: 5px;
        
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary11 {
    background-color: #007bff;
    color: #fff;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 75px;
   margin-left:43%;
   margin-right:50%;
    
}

.error-message {
    color: #ff0000;
    font-size: 12px;
}
/*.botonguarda{
    width:60px;
    justify-content:center;
    align-items:center;
    display:flex
}*/



.cliente-no-existe .form-control {
    border-color: #ccc;
}

/*Style de agregar entrada*/

.modal-entrada {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 82%;
    float: right;
    height: 500px
}

.contenidointeriorentrada {
    max-width: 30%; /* Ajusta este valor según tus necesidades */
    /*min-height: 100%;*/
    margin: 6% auto; /* Aplica "auto" para centrar horizontalmente */
    
    border-radius: 5px;
    padding: 20px;
    float: left;
    height:90%
}
.form-row-entrada{
    float:left
}
.nombre-producto {
    position:relative;
    top:90px;
    right:200px
}
.entrada-fecha{
    float:right;
    position:relative;
    bottom:110px
}
.entrada-cantidad {
    position: relative;
    left:300px;
    bottom:55px
}
.tablaentrada{
     margin-top:60px;
     float:right

}
.entrada-agregar{
    position:relative;
    float:right;
    left:190px;
    bottom:10px
}

.entrada-guardar{

}

.pdf-button button {
    text-decoration: none;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
    border-radius:6px;
    
    border:hidden;
    font-size:14px;
    padding:4px
    
}

.pdf-button {
    margin: 6px;
    margin-left:45px;
   
    width:95px
}


.modal-entrada {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 82%;
    float: right;
    height: 550px;
    margin-left: 22%
}

.contenidointeriorentrada {
    max-width: 30%; /* Ajusta este valor según tus necesidades */
    /*min-height: 100%;*/
    margin: 6% auto; /* Aplica "auto" para centrar horizontalmente */

    border-radius: 5px;
    padding: 20px;
    float: left;
    height: 90%
}

.tituloentrada {
    padding-right:5px;
    float: left;
    margin-left:6px
}


.entrada {
    width: 50%;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 2%;
}

.entrada1 {
    width: 50%;
    float: left;
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.nombreproducto {
    width: 20%;
    height: 100%;
    float: left;
    margin-top: 2%;
    padding-right: 5px;
    border-right: 1px solid rgba(0,0,0,.125);
}

.entradafecha {
    width: 50%;
    height: 10%;
    float: right;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.entradacantidad {
    width: 100%;
    height: 20%;
    margin: 0px;
    margin-top: 5%;
}

.margin01 {
    margin: 0px;
}

.inputcantidad {
    width: 100%;
    height: 40%;
}

.entradaagregar {
    margin-top: 5%;
}

.ventaagregar {
    float: right;
    width: 20%;
}

.tablaentrada {
    width: 80%;
    height: 100%;
    float: left;
    margin-top: 3%;
}

.card1 {
    width: 100%;
    height: 100%;
    margin-left: 22%
}
.card {
   width:82%;
    height: 100%;
    float: right;
    flex: 1;
}


.form-control1 { 
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control2 {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table2 {
    
    margin-left: 30px;
    width: 93%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
    border-radius: 6px;

}

.Mitad1 {
    float: left;
    width: 40%;
    height: 100%;
    
   
   
}

.Mitad2 {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 9%;
    
}
.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload::before {
    content: 'Subir archivo';
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload input[type="file"]:hover + ::before {
    background-color: #0056b3;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*.cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
   
}*/


.guardar {
    width: 80px;
    justify-content: center;
    align-content: center;
    display: block
}






.tituloproductos{
   
    margin-bottom:20px;
    height: 53px;
    width: 90%;
    
    justify-content:center;
    align-content:center;
    display:flex
       
}


.btn-primary{
    background:green;
    border:none
}

.btn-primarycancelar {
    background: red;
    border: none;
    color:white
}

.btn-agre {
    background: #61a0fd;
    color:#fff;
    margin-right:50px
}
.slide-in {
    opacity: 0;
    transform: translateY(50px); /* Empieza fuera de la pantalla */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

    .slide-in.active {
        opacity: 1;
        transform: translateY(0); /* Desplazamiento a la posición normal */
    }




/* Estilos para pantallas móviles */
@media only screen and (max-width: 978px) {
    .container_menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: left 0.3s ease;
        z-index: 10;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 11; /* Asegura que el botón esté por encima del menú */
    }

    .modal-content {
       
        width:100%
    }


    .modal-entrada {
        width: 100%
    }


    .container_menu.active {
        left: 0;
    }

    .menu-nav {
        width: 250px;
        height: 100%;
        background-color: #333;
        position: absolute;
        left: 0;
        top: 0;
    }

    /* Resto de tus estilos para el menú */

    .user {
        padding-left: 10px;
        padding-top: 20px;
    }

    .card {
        width: 100%;
    }

    /* Cuando el menú esté oculto, ".card" ocupará el 100% de la pantalla */
    /*.container_menu:not(.active) .card {
        width: 100%;
        height: 100vh;*/ /* Ocupará la altura completa de la pantalla */
        /* Resto de los estilos para ".card" en este estado */
    /*}*/

    

    .user {
        width: 100%
    }

    footer{
        width:100%
    }
    .container_menu.active .menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        /* Agrega estilos adicionales según tus preferencias */
    }
    
    }





.container {
    display: flex;
}

.titulologo{
width:100%
}


.totalregistros{
    margin-left:35px
}

.contenidointeriorusuario form h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: grey;
    font-size: 1.5em;
    padding-top: 8px;
}

.listaventaguardar {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: grey;
    font-size: 1.5em;
    padding-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    
}

/*
Estyle de Cerrar sesion*/

/* Estilos para el menú desplegable */
/* Estilos para el menú desplegable */
.user-menu {
    position: relative;
    float: right;
    margin: 20px;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.cerrarsesion {
    
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Color del ícono */
    background:red
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff; /* Color de fondo del menú */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.menu-option {
    padding: 10px;
    color: #333; /* Color del texto de las opciones */
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Efecto de transición de color de fondo */
}

    .menu-option:hover {
        background-color: #f0f0f0; /* Color de fondo al pasar el cursor sobre una opción */
    }


.cerrar-sesion-icon {
    background-color: transparent !important;
    color: #fff !important;
}

/*Dahsboar*/

.card4 {
    width: 100%;
    height: 500%;
    margin-left: 22%
}

.cardgrande {
    margin-top: 2%;
    width: 90%;
    height: 600px;
    background-color: whitesmoke;
    margin-left: 5%;
    border-radius: 5px;
}

.ceparar {
    width: 90%;
    height: 450px;
    float: left;
}

.grafica {
    height: 450px;
    width: 100%;
}

.floatleft {
    float: left;
    height: 50px;
    width: 3%;
}

.floatleft1 {
    float: left;
    margin-left: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    width: 20%; /* Ajusta el ancho para que quepa en una línea */
}

.recuadro {
    margin-left: 5%;
    width: 100%; /* Ajusta el ancho para que ocupe toda la línea */
    height: 100%;
    float: left;
}

.arriva {
    margin-top: 5%;
    margin-left: 5px;
    height: 420px;
    width: 100%;
}

.contenidoabajo {
    height: 50px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.abajo {
    /* Estilos adicionales si es necesario */
}

.dia-container {
    clear: both; /* Limpia el float para que los elementos se separen en líneas diferentes */
}











/* Add this to your CSS file or style tag */
/*.table-container {
    margin-top: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .styled-table th,
    .styled-table td {
        padding: 10px;
        text-align: center;
        border: 1px solid #dddddd;
    }

    .styled-table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
*/


.sales-card {
    box-shadow: 0 0 10px #2B2C49; /* Add a shadow to the card */
    border: 1px solid #ccc; /* Add a border to the card */
    border-radius: 5px; /* Round the card corners */
    margin-top: 6%;
    margin-right: 9%
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .styled-table th,
    .styled-table td {
        padding: 10px;
        text-align: center;
        border: 1px solid #dddddd;
    }

    .styled-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        

    }


/* Estilo para el campo rojo */
.producto-inactivo {
    border: 0.5px solid red;
    background-color: #ffe6e6;
    border-radius: 5px /* Color de fondo rojo claro */
    /*border: 1px solid red;*/
}

/* Estilo para el mensaje de error */
.mensaje-error {
    color: red;
    font-size: 12px;
    
}


.fila-roja-transparente {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.3) 30%, transparent 100%);
}

.fila-amarillo-transparente {
    background: linear-gradient(to top, rgba(255, 255, 0, 0.4) 30%, transparent 100%);
}


.menu-option {
    padding: 10px;
    color: whitesmoke; /* Color del texto de las opciones */
    text-align: center;
    cursor: pointer;
    transition: 0.6s ease; /* Efecto de transición de color de fondo */
    background-color: #2b2c49;
}


    .menu-option:hover {
        background-color: #817aab;
        cursor: pointer /* Color de fondo al pasar el cursor sobre una opción */
    }


.cerrar-sesion-icon {
    color: whitesmoke;
    background-size: 56px;
}

.botondecerrar {
    background-color: #2b2c49;
    width: 50px;
}

.error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1); /* Fondo rojo con transparencia */
}

.error-messageproveerdor {
    color: #ff0000; 
    font-size: 12px; 
    padding:0px 0px 0px 80px;
   
}
